<extend name="Common:base" />
<block name="css" title="css区域">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/application/TeacherAdmin/css/teacherAdmin.css">
</block>
<block name="menu" title="菜单区域">
    <div class="typeList">
        <div class="t-item" onclick="window.location.href='{:U(\'TeacherAdmin/index\')}'">首页</div>
        <div class="t-item t-active">快速审批</div>
        <div class="t-item">基础管理</div>
        <div class="t-item">教师管理</div>
        <div class="t-item">学生管理</div>
        <div class="t-item">管理员管理</div>
        <div class="t-item">评分标准管理</div>
        <div class="t-item">操作记录</div>
        <div class="t-item">系统管理</div>
    </div>
</block>
<block name="container" title="内容区域">
    <div class="header"><span class="glyphicon glyphicon-home"></span> 快速审批</div>
    <div class="section report">
        <div class="a-title">待审批记录</div>
        <div class="a-tips">更新时间：<span class="a-tips-date"></span></div>
        <table class="table a-table">
            <thead>
                <tr>
                    <th>学生</th>
                    <th>标题</th>
                    <th width="150px">类型</th>
                    <th width="100px">状态</th>
                    <th width="80px">上传时间</th>
                    <th width="50px">得分</th>
                    <th width="40px">附件</th>
                    <th width="80px" colspan="2">操作</th>
                </tr>
            </thead>
            <tbody>
            <empty name="record">
                <tr><td class="t-empty" colspan="11">暂无提交记录</td></tr>
            </empty>
            <volist name="record" id="vo">
                <tr data-value="{$vo['id']}">
                    <td class="t-name"><a href="{$vo['student_url']}">{$vo['name']}</a></td>
                    <td class="t-title"><span onclick="window.location.href='{$vo[\'detail_url\']}'">{$vo['title']}</span></td>
                    <td>{$vo['type']}</td>
                    <td class="t-status">{$vo['status']}</td>
                    <td>{$vo['created_at']}</td>
                    <td>{$vo['point']}</td>
                    <td class="t-file" data-url="{$vo['file_url']}" data-toggle="modal" data-target="#modal-file">
                        <img class="t-ico" src="__PUBLIC__/application/TeacherAdmin/img/pdf.png">
                    </td>
                    <if condition="$vo['status'] eq '待学院审批'">
                        <td width="40px">
                            <img class="t-ico t-adopt" src="__PUBLIC__/application/TeacherAdmin/img/adopt.png" title="通过" data-value="{$vo['adopt_val']}">
                        </td>
                        <td width="40px">
                            <img class="t-ico t-failed" src="__PUBLIC__/application/TeacherAdmin/img/failed.png" title="不通过" data-toggle="modal" data-target="#modal-not-go">
                        </td>
                    <else />
                        <td class="t-view" colspan="2"><a href="{$vo['detail_url']}">查看</a></td>
                    </if>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="footer">©2015 <a href="http://shang.xy.zhbit.com/" target="_blank">北京理工大学珠海学院商学院</a> 版权所有</div>
</block>
<block name="extend" title="扩展区域">
    <include file="Common:pdf" title="PDF文件预览"/>
    <include file="Common:approval" title="审批操作"/>
</block>
<block name="js" title="js区域">
    <script src="__PUBLIC__/application/TeacherAdmin/js/teacherAdmin.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#msg").click(function(){
            window.location.href='{:U(\'TeacherAdmin/message\')}'
        });

        $(".t-adopt").on('click',function(){  //异步提交表单：审批通过
            var recordId = $(this).data("value");
            if(confirm("确认通过处理吗？")){
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "{:U('TeacherAdmin/adopt')}",
                    data: {"recordId" : recordId},
                    async: false,
                    error: function(data) {
                        alert("操作发生异常");
                    },
                    success: function(data) {
                        if(data.status){
                            alert("操作成功");
                            window.location.reload(true);
                        }else{
                            alert(data.msg);
                        }
                    }
                });
            }
        });

        $("#btn-failed").click(function(){ //异步提交表单：审批不通过
            $.ajax({
                cache: true,
                type: "POST",
                url: "{:U('TeacherAdmin/failed')}",
                data:$('#form-not-go').serialize(),// 你的formid
                async: false,
                error: function(data) {
                    alert("操作发生异常");
                },
                success: function(data) {
                    if(data.status){
                        alert("操作成功");
                        window.location.reload(true);
                    }else{
                        alert(data.msg);
                    }
                }
            });
        });
    </script>
</block>
