<extend name="Common:base" />
<block name="css" title="css区域">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/application/StudentAdmin/css/studentAdmin.css">
</block>
<block name="menu" title="菜单区域">
    <div class="typeList">
        <div class="t-item" onclick="window.location.href='{:U(\'StudentAdmin/index\')}'">首页</div>
        <div class="t-item" onclick="window.location.href='{:U(\'StudentAdmin/subject\')}'">公益劳动</div>
        <div class="t-item t-active">消息</div>
    </div>
</block>
<block name="container" title="内容区域">
    <div class="header"><span class="glyphicon glyphicon-home"></span> 消息</div>
    <div class="message">
        <empty name="message">
            <div class="x-item"><div class="x-empty"></div></div>
        </empty>
        <volist name="message" id="vo">
            <div class="x-item">
                <div class="x-type">{$vo['type']}</div>
                <div class="x-content">
                    <div class="x-title">{$vo['title']}<span class="x-datetime">{$vo['created_at']}</span></div>
                    <div class="x-detail">{$vo['content']}</div>
                </div>
            </div>
        </volist>
    </div>
    <div class="footer">©2015 <a href="http://shang.xy.zhbit.com/" target="_blank">北京理工大学珠海学院商学院</a> 版权所有</div>
</block>
<block name="extend" title="扩展区域"></block>
<block name="js" title="js区域">
    <script src="__PUBLIC__/application/StudentAdmin/js/studentAdmin.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#msg").click(function(){
            window.location.href='{:U(\'StudentAdmin/message\')}'
        });
    </script>
</block>
